@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.ss {
    margin-bottom: 100px;
}

.stxt {
    padding-top: 300px;
    padding-left: 200px;
    font-family: "Nunito", sans-serif;
}

.stxt h2 {
    justify-content: left;
    font-size: 40px;
    padding-top: 10px;
    color: #2b044d;
    font-family: "Nunito", sans-serif;
    line-height: 1.3;
    margin-bottom: 30px;
}

.stxt p {
    color: gray;
}

.simg {
    padding-top: 200px;
}

.simg img {
    height: 400px;
    margin: 5px;
}