@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
.logo {
    padding: 130px;
}

.home-bg {
    background-color: #f4feff;
}

.home-txt {
    user-select: none;
    padding-left: 160px;
    padding-top: 160px;
    padding-right: 50px;
    margin-top: 100px;
    box-sizing: border-box;
}

.home-txt p {
    font-size: 15px;
}

h1 {
    font-weight: 800;
}

.home-txt h1 {
    font-size: 60px;
    padding-top: 10px;
    color: #2b044d;
    font-family: "Nunito", sans-serif;
    line-height: 1.3;
    margin-bottom: 32px;
}

.guid {
    color: gray;
    line-height: 200%;
    padding-right: 80px;
    font-size: large;
}

.btn {
    color: white;
    font-size: 16px;
    background-color: #e83e8c;
    padding: 15px;
    border-radius: 30px;
    width: 180px;
    margin-top: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f80878;
    color: white;
    transition: width 2s;
}

.play {
    color: white;
    background-color: #ed6ef1;
    padding: 18x;
    width: 50px;
    height: 50px;
    outline-style: initial;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    margin-left: 30px;
}

@media screen and (max-width: 960px) {
    .home-txt {
        padding: 25px;
        margin: 0;
    }
    .logo {
        padding: 50px;
        width: 100%;
        display: none;
    }
}