.dl {
    background-image: linear-gradient(to right, #7319f0, #f8218f);
}

.dtx span {
    margin-top: 100px;
    margin-left: 100px;
    animation-name: infy;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.dtx p {
    color: white;
    padding-left: 100px;
}

.app1 {
    padding-left: 100px;
    cursor: pointer;
}

.app2 {
    padding-left: 30px;
    cursor: pointer;
}

.dtx h1 {
    font-size: 40px;
    padding-top: 200px;
    color: white;
    font-family: "Nunito", sans-serif;
    line-height: 1.3;
    margin-bottom: 32px;
    margin-left: 100px;
    margin-top: 10px;
}

.dimg {
    padding: 80px;
    margin-top: 100px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #9448f0;
    border-radius: 50%;
    display: inline-block;
}

@keyframes infy {
    0% {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    16.67% {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    33.3367% {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    50.0067% {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    66.67% {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
    83.3467% {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    100% {
        height: 25px;
        width: 25px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 960px) {
    .dimg {
        margin: 0px;
        padding: 10px;
        margin-top: 30px;
    }
    .dtx h1 {
        margin: 0px;
        padding: 5px;
    }
    .dtx span {
        display: none;
    }
    .app1,
    .app2 {
        margin: 0px;
        padding: 10px;
        margin-left: 70px;
        justify-content: center;
    }
    .dtx p {
        margin: 0px;
        padding: 0px;
        font-size: 18px;
    }
}